<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="/template/template.xhtml">
	<ui:define name="conteudo">
		<h2>Funcionario</h2>
		<hr />
		<h:panelGrid columns="1">
			<p:button icon="ui-icon-arrowthick-1-w" value="Voltar"
				outcome="/funcionario.jsf" />
		</h:panelGrid>
		<h:form id="formulario">
			<fieldset>
				<legend>Dados Pessoais</legend>
				<h:panelGrid columns="4"
					cellpadding="6                                                 ">
					<p:outputLabel value="Nome Completo " for="nomeid" />
					<p:inputText id="nomeid" style="width:420px;"
						value="#{funcionarioBean.funcionarioCadastro.nome}"
						required="true" />
					<p:outputLabel value="Tipo de Sangue" />
					<p:selectOneMenu required="true"
						value="#{funcionarioBean.funcionarioCadastro.tipoSangeEnum}">
						<f:selectItem itemLabel="Selecione um tipo"
							noSelectionOption="true" />
						<f:selectItems value="#{funcionarioBean.tiposSangue}" var="tipo"
							itemLabel="#{tipo.descricao}" itemValue="#{tipo}" />
					</p:selectOneMenu>
					<p:outputLabel value="CPF" for="cpfid" />
					<p:inputMask mask="999.999.999-99" id="cpfid"
						value="#{funcionarioBean.funcionarioCadastro.cpf}" required="true" />
					<p:outputLabel value="RG" for="rgid" />
					<p:inputText  id="rgid" required="true"
						value="#{funcionarioBean.funcionarioCadastro.rg}" />
					<p:outputLabel value="Data Nascimento" for="nascimento" />
					<p:calendar id="nascimento" required="true" 
						navigator="true" mindate="01/01/1960" maxdate="01/01/2000"
						pattern="dd/MM/yyyy"
						 placeholder="dd/MM/yyyy"
						 locale="pt" 
						value="#{funcionarioBean.funcionarioCadastro.dataNascimento}"
						requiredMessage="Data de Nascimento Obrigatório !" showOn="button" />
					<p:outputLabel value="Email" />
					<p:inputText type="email"
						value="#{funcionarioBean.funcionarioCadastro.email}"
						style="width:320px" />


				</h:panelGrid>
				
				<fieldset style="width: 600px;">
					<legend>Naturalidade</legend>
					<h:panelGrid columns="4">


						<p:outputLabel value="Estado" />
						<p:selectOneMenu filter="true"
							value="#{funcionarioBean.estadoSelecionado}"
							converter="omnifaces.SelectItemsConverter" id="estadoSelect">
							<f:selectItem itemLabel="Selecione um Estado"
								noSelectionOption="true" />
							<f:selectItems value="#{funcionarioBean.estados}"
								var="estadoItem" itemValue="#{estadoItem}"
								itemLabel="#{estadoItem.descricao}" />
							<p:ajax listener="#{funcionarioBean.buscaMunicipios}"
								update=":formulario:municipioId" />
						</p:selectOneMenu>



						<p:outputLabel value="Municipio" />
						<p:selectOneMenu filter="true"
							value="#{funcionarioBean.funcionarioCadastro.municipio}"
							converter="omnifaces.SelectItemsConverter" id="municipioId">
							<f:selectItem itemLabel="Selecione um Municipio"
								noSelectionOption="true" />
							<f:selectItems value="#{funcionarioBean.municipios}"
								var="municipio" itemLabel="#{municipio.descricao}"
								itemValue="#{municipio}" />
						</p:selectOneMenu>


					</h:panelGrid>
				</fieldset>
				<fieldset>
				<legend>Gênero</legend>
				<h:panelGrid columns="1">
					<p:selectOneRadio required="true" requiredMessage="Selecione um Genero "
						value="#{funcionarioBean.funcionarioCadastro.genero}">
						<f:selectItem itemLabel="Masculino"  itemValue="Masculino" />
						<f:selectItem itemLabel="Feminino" itemValue="Feminino" />

					</p:selectOneRadio>

				</h:panelGrid>
				</fieldset>
			
			</fieldset>
			
			
			
			<p:spacer height="20px;" />
			<fieldset>
				<legend>Endereço</legend>
				<h:panelGrid columns="4">
					<p:outputLabel value="Barrio" for="barrio" />
					<p:inputText required="true" id="barrio"
						value="#{funcionarioBean.funcionarioCadastro.barrio}" />
					<p:outputLabel value="Enderço" for="enderecoId" />
					<p:inputText style="width:420px;" id="enderecoId"
						value="#{funcionarioBean.funcionarioCadastro.endereco}"
						required="true" />
					<p:outputLabel value="Numero Casa" for="casaid" />
					<p:inputText required="true" id="casaid"
						value="#{funcionarioBean.funcionarioCadastro.numeroCasa}" />
					<p:outputLabel value="Telefone 1 " for="telefone1id" />
					<p:inputMask mask="(99)99999-9999" id="telefone1id" required="true"
						value="#{funcionarioBean.funcionarioCadastro.telefone}" />
						
					<p:outputLabel value="Telefone 2" for="telefone2id" />
					<p:inputMask mask="(99)99999-9999" id="telefone2id" required="true"
						value="#{funcionarioBean.funcionarioCadastro.telefone2}" />	
				</h:panelGrid>


			</fieldset>

			<h:panelGrid columns="2" cellspacing="8" style="margin:10px;">
				<p:commandButton icon="ui-icon-circle-check" value="Salvar"
					actionListener="#{funcionarioBean.salvar()}" rendered="#{funcionarioBean.btnSalvar}"
					update=":erro :formulario" style="border:1px solid rgba(255, 0, 0, 0.6);box-shadow:2px 2px 5px rgba(0,0,0,0.5);" />
				<p:commandButton icon="ui-icon-pencil" style="border:1px solid rgba(255, 0, 0, 0.6);box-shadow:2px 2px 5px rgba(0,0,0,0.5);" rendered="#{funcionarioBean.btnAtualizar}" value="Atualizar"
					actionListener="#{funcionarioBean.editar()}"
					update=":erro :formulario" />	
				<p:commandButton icon="ui-icon-arrowrefresh-1-s"
					value="Limpar Dados " style="border:1px solid rgba(255, 0, 0, 0.6);box-shadow:2px 2px 5px rgba(0,0,0,0.5);" rendered="#{funcionarioBean.btnSalvar}" />

			</h:panelGrid>
		</h:form>
	</ui:define>
</ui:composition>
</html>
