<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="/template/template.xhtml">
	<ui:define name="conteudo">
		<h2 align="center">Matricula</h2>
		<hr />
		<p:panel>
			<h:form id="formFuncionarioId">
				<h:panelGrid columns="3">
					<p:outputLabel value="CPF Funcionario" />
					<p:inputMask mask="999.999.999-99"
						value="#{matriculaBean.cpfBusca}" />
					<p:commandButton icon="ui-icon-search"
						actionListener="#{matriculaBean.buscaCpf}"
						update=":erro :formFuncionarioId:dadosFuncId " />

				</h:panelGrid>

				<p:panelGrid id="dadosFuncId" columns="2" style="width:450px">
					<p:outputLabel value="Nome" />
					<p:outputLabel value="#{matriculaBean.funcionarioSelecionado.nome}" />

					<p:outputLabel value="Email" />
					<p:outputLabel
						value="#{matriculaBean.funcionarioSelecionado.email}" />


					<p:outputLabel value="CPF" />
					<p:outputLabel value="#{matriculaBean.funcionarioSelecionado.cpf}" />


					<p:outputLabel value="RG" />
					<p:outputLabel value="#{matriculaBean.funcionarioSelecionado.rg}" />


				</p:panelGrid>
			</h:form>
			<p:spacer height="8px" />

			<h:form id="formMatriculaId">
				<h:panelGrid columns="4" cellspacing="8">
					<p:outputLabel value="Unidade" />
					<p:selectOneMenu converter="omnifaces.SelectItemsConverter"
						required="true" requiredMessage="Selecione uma unidade"
						value="#{matriculaBean.matriculaCadastro.unidade}">
						<f:selectItem itemLabel="Selecione uma Unidade"
							noSelectionOption="true" />
						<f:selectItems value="#{matriculaBean.unidades}" var="unidade"
							itemLabel="#{unidade.descricao}" itemValue="#{unidade}" />
					</p:selectOneMenu>

					<p:outputLabel value="Cargo" />
					<p:selectOneMenu converter="omnifaces.SelectItemsConverter"
						required="true" requiredMessage="Selecione um cargo"
						value="#{matriculaBean.matriculaCadastro.cargo}">
						<f:selectItem itemLabel="Selecione um Cargo"
							noSelectionOption="true" />
						<f:selectItems value="#{matriculaBean.cargos}" var="cargo"
							itemLabel="#{cargo.descricao}" itemValue="#{cargo}" />
					</p:selectOneMenu>

				</h:panelGrid>
				<h:panelGrid columns="6" cellspacing="8">
					<p:outputLabel value="Ativo" for="checkId" />
					<p:selectBooleanCheckbox id="checkId"
						value="#{matriculaBean.matriculaCadastro.statu}"
						style="width:90px;" />

					<p:outputLabel value="Carga Horaria Esperada (h)" />
					<p:inputNumber required="true"
						requiredMessage="Informe a carga horaria"
						value="#{matriculaBean.matriculaCadastro.cargoHorariaEsperada}" />

					<p:outputLabel value="Data Fim" for="datafimID" />
					<p:calendar id="datafimID" showOn="button"
						value="#{matriculaBean.matriculaCadastro.dataFim}"
						navigator="true" pattern="dd/MM/yyyy" placeholder="dd/MM/yyyy"
						locale="pt" />


				</h:panelGrid>
				<h:panelGrid columns="2">
					<p:outputLabel value="Observação" />
					<p:inputTextarea rows="8"
						value="#{matriculaBean.matriculaCadastro.observacao}"
						style="width:550px;" />
				</h:panelGrid>
				<h:panelGrid columns="2">
					<p:commandButton value="Salvar" rendered="#{!matriculaBean.btnAtualizar}"
						actionListener="#{matriculaBean.salvar}"
						update=":erro :formFuncionarioId formMatriculaId " />
					
					<p:commandButton value="Atualizar" rendered="#{matriculaBean.btnAtualizar}"
						actionListener="#{matriculaBean.atualizarCadastro}"
						update=":erro :formFuncionarioId formMatriculaId " />	
						
					<p:commandButton value="Cancelar"
						action="/matricula.jsf?faces-redirect=true" />
				</h:panelGrid>
			</h:form>
		</p:panel>
	</ui:define>
</ui:composition>

</html>
