<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="/template/template.xhtml">
	<ui:define name="conteudo">
		<h2>Cargo</h2>
		<hr />

		<h:panelGrid columns="1">
			<p:commandButton icon="ui-icon-plus"
				actionListener="#{cargoBean.novo}" update=":modalId"
				onclick="PF('dialog').show();" value="Novo" />

		</h:panelGrid>
		<h:form id="dados">
			<p:dataTable emptyMessage="Nenhum Resultado Encontrado" id="tabela"
				value="#{cargoBean.cargos}" var="cargo" rows="6">
				<p:column headerText="Codigo">
					<p:outputLabel value="#{cargo.cargoId}" />
				</p:column>
				<p:column headerText="Tipo Cargo">
					<p:outputLabel value="#{cargo.tipoCargoEnum.valor}" />
				</p:column>

				<p:column headerText="Descrição">

					<p:outputLabel value="#{cargo.descricao}" />
				</p:column>

				<p:column headerText="">
					
					<p:commandButton icon="ui-icon-pencil"
						actionListener="#{cargoBean.selecaoCargo}" update=":modalId"
						onclick="PF('dialog').show();">
						<f:attribute name="CargoSelecionado" value="#{cargo}" />
					</p:commandButton>
					<p:commandButton icon="ui-icon-trash"
						actionListener="#{cargoBean.excluir}" update=":erro  :dados">
						<p:confirm icon="ui-icon-alert"
							message="Deseja excluir o Cargo  #{cargo.descricao} ?"
							header="alerta" />
						<f:attribute name="CargoSelecionado" value="#{cargo}" />
					</p:commandButton>
				</p:column>

			</p:dataTable>
		</h:form>

		<p:confirmDialog global="true" widgetVar="confirm">
			<p:commandButton type="button" value="Sim"
				styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
			<p:commandButton value="Não" type="button"
				styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
		</p:confirmDialog>



		<p:dialog header="Cargo" widgetVar="dialog" id="modal" width="800px"
			draggable="false" resizable="false" modal="true" appendTo="@(body)">
			<h:form id="modalId">

				<h:panelGrid columns="2">
					<p:outputLabel value="Nome" for="descricaoId" />
					<p:inputText id="descricaoId" style="width:450px;"
						value="#{cargoBean.cargoCadastro.descricao}"
						placeholder="Digite o nome do Cargo" required="true">
						<f:validateBean />
					</p:inputText>

					<p:outputLabel value="Tipo Cargo" for="tipo_id" />
					<p:selectOneMenu value="#{cargoBean.cargoCadastro.tipoCargoEnum}" id="tipo_id">
					<f:selectItem itemLabel="Selecione o Tipo Cargo" noSelectionOption="true" />
					<f:selectItems value="#{cargoBean.tipoCargos}" var="tipo" itemLabel="#{tipo.valor}" itemValue="#{tipo}"  />
					</p:selectOneMenu>

					

				


				</h:panelGrid>
				<h:panelGrid columns="2">
					<p:commandButton value="Salvar" rendered="#{cargoBean.btnSalvar}"
						actionListener="#{cargoBean.salvar()}"
						update=":erro :modalId :dados" onclick="PF('dialog').hide();" />

					<p:commandButton value="Atualizar"
						rendered="#{cargoBean.btnEditar}"
						actionListener="#{cargoBean.editar()}"
						update=":erro :modalId :dados" onclick="PF('dialog').hide();" />
					<p:commandButton value="Cancelar" onclick="PF('dialog').hide();" />
				</h:panelGrid>


			</h:form>
		</p:dialog>
		
		

	</ui:define>

</ui:composition>
</html>
