<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="/template/template.xhtml">
	<ui:define name="conteudo">
		<h2>Disciplina</h2>
		<hr />

		<h:panelGrid columns="1">
			<p:commandButton icon="ui-icon-plus"
				actionListener="#{disciplinaBean.novo}" update=":modalId"
				onclick="PF('dialog').show();" value="Novo" />

		</h:panelGrid>
		<h:form id="dados">
			<p:dataTable emptyMessage="Nenhum Resultado Encontrado" id="tabela"
				value="#{disciplinaBean.disciplinas}" var="disciplina" rows="8" paginator="true" >
				<p:column headerText="Codigo">
					<p:outputLabel value="#{disciplina.disciplinaId}" />
				</p:column>
				<p:column headerText="Nivel">
					<p:outputLabel value="#{disciplina.tipoNivelEnum.descricao}" />
				</p:column>

				<p:column headerText="Descrição" filterBy="#{disciplina.descricao}" >

					<p:outputLabel value="#{disciplina.descricao}" />
				</p:column>

				<p:column headerText="Carga Horaria">

					<p:outputLabel value="#{disciplina.cargaHoraria}" />
				</p:column>

				<p:column headerText="">

					<p:commandButton icon="ui-icon-pencil"
						actionListener="#{disciplinaBean.editar}" update=":modalId"
						onclick="PF('dialog').show();">
						<f:attribute name="disciplinaSelecionada" value="#{disciplina}" />
					</p:commandButton>
					<p:commandButton icon="ui-icon-trash"
						actionListener="#{disciplinaBean.remover}" update=":erro  :dados">
						<p:confirm icon="ui-icon-alert"
							message="Deseja excluir a disciplina  #{disciplina.descricao} ?"
							header="alerta" />
						<f:attribute name="disciplinaSelecionada" value="#{disciplina}" />
					</p:commandButton>
				</p:column>

			</p:dataTable>
		</h:form>

		<p:confirmDialog global="true" widgetVar="confirm">
			<p:commandButton type="button" value="Sim"
				styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
			<p:commandButton value="Não" type="button"
				styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
		</p:confirmDialog>



		<p:dialog header="Displina" widgetVar="dialog" id="modal"
			width="800px" draggable="false" resizable="false" modal="true"
			appendTo="@(body)">
			<h:form id="modalId">

				<h:panelGrid columns="2">
					<p:outputLabel value="Descricao" for="descricaoId" />
					<p:inputText id="descricaoId" style="width:450px;"
						value="#{disciplinaBean.disciplinaSelecionada.descricao}"
						placeholder="Digite a descrição da Disciplina" required="true">
						<f:validateBean />
					</p:inputText>

					<p:outputLabel value="Tipo Nivel" for="tipo_id" />
					<p:selectOneMenu value="#{disciplinaBean.disciplinaSelecionada.tipoNivelEnum}"
						id="tipo_id">
						<f:selectItem itemLabel="Selecione o Nivel"
							noSelectionOption="true" />
						<f:selectItems value="#{disciplinaBean.tipoNivelEnums}" var="tipo"
							itemLabel="#{tipo.descricao}" itemValue="#{tipo}" />
					</p:selectOneMenu>

					<p:outputLabel value="Carga Horaria" for="cargaHorariaId" />
					<p:inputText id="cargaHorariaId" style="width:450px;" type="number"
						value="#{disciplinaBean.disciplinaSelecionada.cargaHoraria}"
						placeholder="Informe a Carga horaria da Disciplina" required="true">
						<f:validateBean />
					</p:inputText>




				</h:panelGrid>
				<h:panelGrid columns="2">
					<p:commandButton value="Salvar" 
						actionListener="#{disciplinaBean.salvar()}"
						update=":erro :modalId :dados" onclick="PF('dialog').hide();" />

					<p:commandButton value="Cancelar" onclick="PF('dialog').hide();" />
				</h:panelGrid>


			</h:form>
		</p:dialog>



	</ui:define>

</ui:composition>
</html>
