<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="/template/template.xhtml">
	<ui:define name="conteudo">

		<h2>Funcionario</h2>
		<hr />

		<h:panelGrid columns="1">
			<p:commandButton icon="ui-icon-circle-plus" value="Novo"
				action="/cadastroFuncionario.jsf?faces-redirect=true" />
		</h:panelGrid>
		<h:form id="formulario">

			<p:dataTable id="datatableid" value="#{funcionarioBean.funcionarios}"
				var="funcionario" paginator="true"
				filteredValue="#{funcionarioBean.funcionariosFilter}"
				emptyMessage="Nenhum Registro Encontrado">
				<p:column headerText="Codigo">
					<p:outputLabel value="#{funcionario.funcionarioId}" />
				</p:column>

				<p:column headerText="Nome" filterBy="#{funcionario.nome}">
					<p:outputLabel value="#{funcionario.nome}" />
				</p:column>

				<p:column headerText="CPF">
					<p:outputLabel value="#{funcionario.cpf}" />
				</p:column>
				<p:column headerText="Email">
					<p:outputLabel value="#{funcionario.email}" />
				</p:column>

				<p:column headerText="">
				<p:button icon="ui-icon-document" outcome="/funcionarioInformacao.jsf" >
					<f:param name="funcionarioId" value="#{funcionario.funcionarioId}"/>
					</p:button>	
					
					<p:button icon="ui-icon-pencil"
						 outcome="/cadastroFuncionario.jsf" >
					<f:param name="funcionarioId" value="#{funcionario.funcionarioId}" />
					</p:button>
					
					
					<p:commandButton icon="ui-icon-trash" 
						actionListener="#{funcionarioBean.excluir}"
						update=":erro :formulario:datatableid">
						<p:confirm icon="ui-icon-alert" header="Confirmação"
							message="Tem Certeza que Deseja excluir o Funcionario #{funcionario.primeiroNome} ?" />
						<f:attribute name="funcionarioSelecionado" value="#{funcionario}" />
					</p:commandButton>
				</p:column>
			</p:dataTable>

			<p:confirmDialog global="true" widgetVar="confirm" >
				<p:commandButton type="button" value="Sim"
					styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
				<p:commandButton value="Não" type="button"
					styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
				
			</p:confirmDialog>
		</h:form>

	</ui:define>

</ui:composition>
</html>
