<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="/template/template.xhtml">
	<ui:define name="conteudo">
	
		<h4>Funcionario View</h4>
		<hr />

		<h:panelGrid columns="3" cellspacing="10" style="padding:5px;margin-bottom:20px;">
			<p:outputLabel style="border:1px solid rgba(0,0,0,0.5);border-radius:8px;padding:8px;box-shadow:2px 2px 4px rgba(0,0,0,0.5);">
				<p:outputLabel value="Nome: " style="font-weight: bold;" />
				<p:outputLabel value="#{funcionarioViewBean.funcionario.nome}" />
			</p:outputLabel>
			<p:outputLabel style="border:1px solid rgba(0,0,0,0.5);border-radius:8px;padding:8px;box-shadow:2px 2px 4px rgba(0,0,0,0.5);">
				<p:outputLabel value="Emai : " style="font-weight: bold;" />
				<p:outputLabel value="#{funcionarioViewBean.funcionario.email}" />
			</p:outputLabel>
	
					<p:outputLabel style="border:1px solid rgba(0,0,0,0.5);border-radius:8px;padding:8px;box-shadow:2px 2px 4px rgba(0,0,0,0.5);">
		
		<p:outputLabel value="Genero : " style="font-weight: bold;" />
		<p:outputLabel value="#{funcionarioViewBean.funcionario.genero}" />
		</p:outputLabel>
			</h:panelGrid>

		<p:tabView id="tabId"
			style="border:1px solid rgba(0,0,0,0.3);box-shadow:3px 3px 5px rgba(0,0,0,0.5); ">
			<p:tab title="Titularidade" id="tabTituId">
				<h:panelGrid columns="1">
					<h:form id="dados">
						<h:panelGrid columns="1" style="margin:10px;">
							<p:commandButton icon="ui-icon-circle-plus" value="Adicionar"
								onclick="PF('dialog_titularidade').show();" />
						</h:panelGrid>
						<p:dataTable id="tableid"
							value="#{funcionarioViewBean.funcionariosTitutularidades}"
							var="titularidadeFunc" emptyMessage="Sem Titularidade">
							<p:column headerText="Codigo">
								<p:outputLabel
									value="#{titularidadeFunc.funcionarioTitularidadeId}" />
							</p:column>

							<p:column headerText="Tipo">
								<p:outputLabel
									value="#{titularidadeFunc.titularidade.tipoTitularidadeEnum.descricao}" />
							</p:column>
							<p:column headerText="Descrição">
								<p:outputLabel
									value="#{titularidadeFunc.titularidade.descricao}" />
							</p:column>

							<p:column headerText="">
								<p:commandButton icon="ui-icon-trash"
									actionListener="#{funcionarioViewBean.excluirFuncionarioTitularidade}"
									update=":erro :tabId:dados:tableid">
									<p:confirm
										message="Tem certeza que deseja Excluir a Titularidade #{titularidadeFunc.titularidade.descricao} ?"
										icon="ui-icon-alert" />
									<f:attribute name="titularidadeSelecao"
										value="#{titularidadeFunc}" />
								</p:commandButton>
							</p:column>
						</p:dataTable>

						<p:confirmDialog global="true">
							<p:commandButton type="button" styleClass="ui-confirmdialog-yes"
								icon="ui-icon-check" value="Sim" />
							<p:commandButton type="button" styleClass="ui-confirmdialog-no"
								icon="ui-icon-close" value="Não" />

						</p:confirmDialog>
					</h:form>
					<p:dialog widgetVar="dialog_titularidade"
						header="Titularidade Seleção" closable="true" height="100px"
						draggable="false" resizable="false" modal="true"
						appendTo="@(body)">
						<h:form id="modalId">
							<h:panelGrid columns="2">

								<p:outputLabel value="Titularidade" />
								<p:selectOneMenu filter="true"
									value="#{funcionarioViewBean.titularidadeSelecionada}"
									converter="omnifaces.SelectItemsConverter">
									<f:selectItem noSelectionOption="true"
										itemLabel="Selecione uma Titularidade" />
									<f:selectItems value="#{funcionarioViewBean.titularidades}"
										var="titularidade"
										itemLabel="#{titularidade.tipoTitularidadeEnum} - #{titularidade.descricao}"
										itemValue="#{titularidade}" />

								</p:selectOneMenu>
							</h:panelGrid>
							<p:spacer height="8px" />
							<h:panelGrid columns="2">
								<p:commandButton value="Salvar"
									actionListener="#{funcionarioViewBean.salvarTitularidadeFunc()}"
									onclick="PF('dialog_titularidade').hide();"
									update=":erro :tabId:dados:tableid" />
								<p:commandButton value="Cancelar"
									onclick="PF('dialog_titularidade').hide();" />

							</h:panelGrid>
						</h:form>
					</p:dialog>

				</h:panelGrid>
			</p:tab>


			<p:tab title="Anexos" id="anexoID">
				<h:form id="anexoFormId">
					<h:panelGrid columns="1" style="margin:10px;">
						<p:fileUpload value="Upload"
							update=":erro :tabId:anexoFormId:anexoTab"
							fileUploadListener="#{funcionarioViewBean.uploadArquivo}"
							mode="advanced" dragDropSupport="false" skinSimple="true" />
					</h:panelGrid>
					<p:dataTable id="anexoTab" emptyMessage="Sem Anexos"
						value="#{funcionarioViewBean.arquivos}" var="arquivo">
						<p:column headerText="Codigo">
							<p:outputLabel value="#{arquivo.arquivoId}" />

						</p:column>

						<p:column headerText="Descrição">
							<p:outputLabel value="#{arquivo.arquivo}" />

						</p:column>

						<p:column headerText="">
							<p:commandButton icon="ui-icon-trash"
								update=":erro :tabId:anexoFormId:anexoTab"
								actionListener="#{funcionarioViewBean.excluirArquivo}">
								<p:confirm icon="ui-icon-alert"
									message="Tem certeza que deseja excluir o Arquivo #{arquivo.arquivo} ? "
									header="Exclusão" />
								<f:attribute name="arquivoSelecionado" value="#{arquivo}" />
							</p:commandButton>

							<p:commandButton ajax="true"
								onclick="PrimeFaces.monitorDownload(start, stop);"
								icon="ui-icon-arrowthick-1-s"
								actionListener="#{funcionarioViewBean.downloadArquivo}">
								<f:attribute name="arquivoSelecionado" value="#{arquivo}" />
								<p:fileDownload value="#{funcionarioViewBean.file}" />
							</p:commandButton>

						</p:column>

					</p:dataTable>
				</h:form>
			</p:tab>

		</p:tabView>

	</ui:define>

</ui:composition>

</html>
