<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"> 

<ui:composition template="/template/template.xhtml">
<ui:define name="conteudo">

		<h2 align="center" style="border:1px solid rgba(0,0,0,0.5);padding:10px;box-shadow:4px 4px 6px rgba(0,0,0,0.4)" >Matricula</h2>
		<hr />

		<h:panelGrid columns="1">
			<p:commandButton icon="ui-icon-circle-plus" value="Novo"
				action="/cadastroMatricula.jsf?faces-redirect=true" />
		</h:panelGrid>
		<h:form id="formulario">

			<p:dataTable id="datatableid" value="#{matriculaBean.matriculas}"
				var="matricula" paginator="true"
			
				emptyMessage="Nenhum Registro Encontrado">
				<p:column headerText="Codigo">
					<p:outputLabel value="#{matricula.matriculaId}" />
				</p:column>

				<p:column headerText="Funcionario" filterBy="#{funcionario.nome}">
					<p:outputLabel value="#{matricula.funcionario.nome}" />
				</p:column>

				<p:column headerText="numero Matricula">
					<p:outputLabel value="#{matricula.numeroMatricula}" />
				</p:column>
				<p:column headerText="Data Cadastro">
					<p:outputLabel  value="#{matricula.dataCadastro}" />
				</p:column>
				
				<p:column headerText="Ativo" >
				<p:selectBooleanCheckbox value="#{matricula.statu}" disabled="true"  /> 
				</p:column>

				<p:column headerText="">					
					<p:button icon="ui-icon-pencil"
						 outcome="/cadastroMatricula.jsf" >
					<f:param name="matriculaId" value="#{matricula.matriculaId}" />
					</p:button>
					
					
					<p:commandButton icon="ui-icon-trash"
						  actionListener="#{matriculaBean.excluirMatricula}"
						update=":erro :formulario:datatableid">
						<p:confirm icon="ui-icon-alert" header="Confirmação"
							message="Tem Certeza que Deseja excluir a matricula do  Funcionario #{matricula.funcionario.primeiroNome} ?" />
						<f:attribute name="matriculaSelecionado" value="#{matricula}" />
					</p:commandButton>
				</p:column>
			</p:dataTable>

			<p:confirmDialog global="true" widgetVar="confirm" >
				<p:commandButton type="button" value="Sim"
					styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
				<p:commandButton value="Não" type="button"
					styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
				
			</p:confirmDialog>
		</h:form>

	</ui:define>
</ui:composition>
</html>
