<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="/template/template.xhtml">
	<ui:define name="conteudo">
		<h2>Titularidade</h2>
		<hr />
        
		<h:panelGrid columns="1">
			<p:commandButton icon="ui-icon-plus" 
				actionListener="#{titularidadeBean.novo}" update=":modalId"
				 onclick="PF('dialog').show();" value="Novo" />

		</h:panelGrid>
		<h:form id="dados">
			<p:dataTable emptyMessage="Nenhum Resultado Encontrado" id="tabela"
				value="#{titularidadeBean.titularidades}" var="titularidade">
				<p:column headerText="Codigo">
					<p:outputLabel value="#{titularidade.titularidadeId}" />
				</p:column>
				<p:column headerText="Descrição">
					<p:outputLabel value="#{titularidade.descricao}" />
				</p:column>

				<p:column headerText="Tipo Titularidade">
					<p:outputLabel
						value="#{titularidade.tipoTitularidadeEnum.descricao}" />
				</p:column>

				<p:column headerText="">
					<p:commandButton  icon="ui-icon-pencil" actionListener="#{titularidadeBean.seleciona}"  update=":modalId" onclick="PF('dialog').show();">
						<f:attribute name="tituSelecionado" value="#{titularidade}" />
					</p:commandButton>
					<p:commandButton icon="ui-icon-trash"
						actionListener="#{titularidadeBean.excluir}"
						update=":erro  :dados">
						<p:confirm icon="ui-icon-alert"
							message="Deseja excluir a Tituridade #{titularidade.descricao} ?"
							header="alerta" />
						<f:attribute name="tituSelecionado" value="#{titularidade}" />
					</p:commandButton>
				</p:column>

			</p:dataTable>
            </h:form>

			<p:confirmDialog global="true" widgetVar="confirm">
				<p:commandButton type="button" value="Sim"
					styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
				<p:commandButton value="Não" type="button"
					styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
			</p:confirmDialog>

		
       
		<p:dialog header="#{titularidadeBean.titulo}" widgetVar="dialog" id="modal"
			draggable="false" resizable="false" modal="true" appendTo="@(body)">
			<h:form id="modalId">
			
				<h:panelGrid columns="2">
					<p:outputLabel value="Descrição" />
					<p:inputText
						value="#{titularidadeBean.titularidadeCadastro.descricao}">
						<f:validateBean />
					</p:inputText>

					<p:outputLabel value="Tipo Titularidade" />
					<p:selectOneMenu
						value="#{titularidadeBean.titularidadeCadastro.tipoTitularidadeEnum}">
						<f:selectItem itemLabel="Selecione um tipo"
							noSelectionOption="true" />
						<f:selectItems value="#{titularidadeBean.tiposTitularidade}"
							var="tipo" itemLabel="#{tipo.descricao}" itemValue="#{tipo}" />
					</p:selectOneMenu>
				</h:panelGrid>
				<h:panelGrid columns="2">
					<p:commandButton value="Salvar"
					 rendered="#{titularidadeBean.btnSalvar}"
						actionListener="#{titularidadeBean.salvar()}"
						update=":erro :modalId :dados" onclick="PF('dialog').hide();" />
						
					 <p:commandButton value="Atualizar"
					 rendered="#{titularidadeBean.btnEditar}"
						actionListener="#{titularidadeBean.editar()}"
						update=":erro :modalId :dados" onclick="PF('dialog').hide();" />
					<p:commandButton value="Cancelar" onclick="PF('dialog').hide();" />
				</h:panelGrid>


			</h:form>
		</p:dialog>
         
	</ui:define>

</ui:composition>
</html>
