<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="/template/template.xhtml">
	<ui:define name="conteudo">
		<h2>Unidade</h2>
		<hr />

		<h:panelGrid columns="1">
			<p:commandButton icon="ui-icon-plus"
				actionListener="#{unidadeBean.novo}" update=":modalId"
				onclick="PF('dialog').show();" value="Novo" />

		</h:panelGrid>
		<h:form id="dados">
			<p:dataTable emptyMessage="Nenhum Resultado Encontrado" id="tabela"
				value="#{unidadeBean.unidades}" var="unidade">
				<p:column headerText="Codigo">
					<p:outputLabel value="#{unidade.unidadeId}" />
				</p:column>
				<p:column headerText="Descrição">
					<p:outputLabel value="#{unidade.descricao}" />
				</p:column>

				<p:column headerText="Data Cadastro">

					<p:outputLabel value="#{unidade.dataCadastroStr()}" />
				</p:column>

				<p:column headerText="">
					<p:commandButton icon="ui-icon-search" onclick="PF('previlUnidade').show();" update=":previl" >
                     <f:setPropertyActionListener value="#{unidade}" target="#{unidadeBean.previlUnidade}"/>
					</p:commandButton>
					<p:commandButton icon="ui-icon-pencil"
						actionListener="#{unidadeBean.selecionaUnidade}" update=":modalId"
						onclick="PF('dialog').show();">
						<f:attribute name="unidaSelecionado" value="#{unidade}" />
					</p:commandButton>
					<p:commandButton icon="ui-icon-trash"
						actionListener="#{unidadeBean.excluir}" update=":erro  :dados">
						<p:confirm icon="ui-icon-alert"
							message="Deseja excluir a Unidade #{unidade.descricao} ?"
							header="alerta" />
						<f:attribute name="unidaSelecionado" value="#{unidade}" />
					</p:commandButton>
				</p:column>

			</p:dataTable>
		</h:form>

		<p:confirmDialog global="true" widgetVar="confirm">
			<p:commandButton type="button" value="Sim"
				styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
			<p:commandButton value="Não" type="button"
				styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
		</p:confirmDialog>



		<p:dialog header="Unidade" widgetVar="dialog" id="modal" width="800px"
			draggable="false" resizable="false" modal="true" appendTo="@(body)">
			<h:form id="modalId">

				<h:panelGrid columns="2">
					<p:outputLabel value="Nome" for="descricaoId" />
					<p:inputText id="descricaoId" style="width:450px;"
						value="#{unidadeBean.unidadeCadastro.descricao}"
						placeholder="Digite o nome da Unidade" required="true">
						<f:validateBean />
					</p:inputText>
					
						<p:outputLabel value="Sigla" for="siglaId" />
					<p:inputText id="siglaId" style="width:150px;"
						value="#{unidadeBean.unidadeCadastro.sigla}"
						placeholder="Digite a Sigla da Unidade" required="true">
						<f:validateBean />
					</p:inputText>

					<p:outputLabel value="Email" for="email_id" />
					<p:inputText id="email_id" style="width:350px;"
						value="#{unidadeBean.unidadeCadastro.email}"
						placeholder="Digite  o email " required="true">
						<f:validateBean />
					</p:inputText>

					<p:outputLabel value="Endereço" for="enderecoID" />
					<p:inputText id="enderecoID" style="width:450px;"
						value="#{unidadeBean.unidadeCadastro.endereco}"
						placeholder="Digite o Endereço " required="true">
					</p:inputText>


					<p:outputLabel value="Barrio" for="barrioID" />
					<p:inputText id="barrioID" style="width:450px;"
						value="#{unidadeBean.unidadeCadastro.barrio}"
						placeholder="Digite o Barrio" required="true">
					</p:inputText>

					<p:outputLabel value="Telefone" for="telefoneID" />
					<p:inputMask mask="(99)99999-9999" id="telefoneID"
						value="#{unidadeBean.unidadeCadastro.telefone}"
						placeholder="Digite o Telefone" required="true" />


				</h:panelGrid>
				<h:panelGrid columns="2">
					<p:commandButton value="Salvar" rendered="#{unidadeBean.btnSalvar}"
						actionListener="#{unidadeBean.salvar()}"
						update=":erro :modalId :dados" onclick="PF('dialog').hide();" />

					<p:commandButton value="Atualizar"
						rendered="#{unidadeBean.btnEditar}"
						actionListener="#{unidadeBean.editar()}"
						update=":erro :modalId :dados" onclick="PF('dialog').hide();" />
					<p:commandButton value="Cancelar" onclick="PF('dialog').hide();" />
				</h:panelGrid>


			</h:form>
		</p:dialog>
		
		<p:dialog header="Unidade Informação"  appendTo="@(body)" position="center" widgetVar="previlUnidade" modal="true" showEffect="fade" hideEffect="fade" resizable="false">
        <h:form id="previl">
        <p:outputPanel id="carDetail" style="text-align:center;">
            <p:panelGrid  columns="2" rendered="#{not empty unidadeBean.previlUnidade}" columnClasses="label,value">
               
 
                <h:outputText value="Id" style="font-weight: bold;" />
                <h:outputText value="#{unidadeBean.previlUnidade.unidadeId}" />
 
                <h:outputText value="Descricao" style="font-weight: bold;" />
                <h:outputText value="#{unidadeBean.previlUnidade.descricao}" />
 
                <h:outputText value="Data Cadastro" style="font-weight: bold;" />
                <h:outputText value="#{unidadeBean.previlUnidade.dataCadastroStr()}" style="color:#{dtSelectionView.selectedCar.color}"/>
 
                <h:outputText value="Endereco" style="font-weight: bold;" />
                <h:outputText value="#{unidadeBean.previlUnidade.endereco}" />
                
                  <h:outputText value="Barrio" style="font-weight: bold;" />
                <h:outputText value="#{unidadeBean.previlUnidade.barrio}" />
                
                  <h:outputText value="Email" style="font-weight: bold;" />
                <h:outputText value="#{unidadeBean.previlUnidade.email}" />
            </p:panelGrid>
        </p:outputPanel>
        </h:form>
    </p:dialog>

	</ui:define>

</ui:composition>
</html>
