<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>

	<h:outputScript library="js" name="locale.js" />
	<h:outputStylesheet>
	.ui-widget {  
    font-size: 13px !important;  
}
	</h:outputStylesheet>
</h:head>
<h:body>
	<p:growl id="erro" sticky="true" />

	<p:layout fullPage="true">
		<!--Inicio Cabeçalho -->
		<p:layoutUnit position="north" size="75" 
			closable="false" resizable="true" collapsible="true"  >
			<h:form style="background: #cc0000;">
			<p:toolbar style="border-radius:10px;padding:15px;background: #cc0000;">
        <f:facet name="left">
        <p:outputLabel style="color:white;" value="SIGE - Sistema de Gestão Educacional"/>
        </f:facet>
 
        <f:facet name="right"  >
            <p:menuButton   style="background: #cc0000;"  value="Options"  >
                <p:menuitem value="Cargo"  icon="ui-icon-disk" />
             
                <p:menuitem value="Sair"  icon="ui-icon-logof" />
            </p:menuButton>
        </f:facet>
 
    </p:toolbar>
    </h:form>
		</p:layoutUnit>
		<!--Fim Cabeçalho -->

		<!--Inicio Conteudo -->


		<p:layoutUnit position="center" size="200" resizable="true"
			collapsible="true" id="center">
			<ui:insert name="conteudo" />
		</p:layoutUnit>
		<!--Fim Conteudo -->

		<!--Inicio Menu -->
		<p:layoutUnit position="west" header="Menu Principal" size="200">
			<h:form >
			<p:slideMenu></p:slideMenu>
				<p:panelMenu>
				
					<p:submenu icon="ui-icon-plus" label="Funcionario">
						<p:menuitem icon="ui-icon-person" value="Cadastro"
							outcome="/funcionario.jsf" />
						<p:menuitem value="Titularidade" outcome="/titularidade.jsf" />
					</p:submenu>
					<p:submenu label="Cargo">
						<p:menuitem value="Cadastro" outcome="/cargo.jsf" />
					</p:submenu>
						<p:submenu label="Disciplinas">
						<p:menuitem value="Cadastro" outcome="/disciplina.jsf" />
					</p:submenu>
					<p:submenu label="Matricula">
						<p:menuitem value="Cadastro" outcome="/matricula.jsf" />
					</p:submenu>
					<p:submenu label="Unidade">
						<p:menuitem value="Cadastro" outcome="/unidade.jsf" />
					</p:submenu>
					<p:submenu label="Usuario">
						<p:menuitem value="Cadastro" />
						<p:menuitem value="Perfil" />
					</p:submenu>
					<p:submenu label="Relatorio">
						<p:menuitem value="Consulta" />
					</p:submenu>

				</p:panelMenu>
			</h:form>
		</p:layoutUnit>
		<!--Fim Menu -->


	</p:layout>

</h:body>
</html>
