



.titulo {
	border: 1px solid black;
	padding: 15px;
	text-align: center;
	border-radius: 15px;
	box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}

.btn-novo{
	border-radius:10px;
}

#titulo{	
	color: white;
	background:#cc0000;
	margin: 0px;
}
